mixin modal(modalInfo)
  //- modalType work as target id
  - var modalType = modalInfo.type
  - var modalId = `${modalType}Modal`
  - var modalTitle = modalInfo.title
  - var modalBody = modalInfo.body
  - var modalConfirmLabel= modalInfo.confirm
  - var modalCloseLabel = modalInfo.close

  div(class="modal fade" id=`${modalId}` tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title")= modalTitle
          button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
        div(class="modal-body")
          p= modalBody
        div(class="modal-footer")
          button(type="button" class="btn btn-secondary" data-bs-dismiss="modal")= modalCloseLabel
          if modalType == "write"
            a(class="btn btn-primary" href=`/${API_VERSION}/review/write` role="button")= modalConfirmLabel
          else
            button(type="button" class="btn btn-primary")= modalConfirmLabel
