extends layout

block content
  //- include includes/modal.pug
  //- +modal(deleteModal)
  //- +modal(editModal)

  - var noReviewMessage = `${lyric.text}에 대한 감상이 아직 없습니다. 감상을 작성하시겠습니까?`

  //- button(type="button" class="recent-popular-toggle") [TODO] 최신순 / 인기순 표시 토글하는 버튼, 호감 표시 도입했을 때

  if lyric.reviewList.length
    section(class="lyric my-5")
      div(class="container")
        //- [TODO] 가사 미니맵 or linked to
        div(class="d-flex border-bottom pb-4 mb-4")
          h3(class="lyric-title lh-base me-3 mb-0")= `${lyric.text}에 대한 감상입니다.`
          //- [TODO] 작성 모달 띄우고 거기서 작성하는 것으로 변경
          a(class="btn btn-secondary" href=`/${API_VERSION}/review/write` role="button") 새 감상 작성
        div(class="review-list")
          each review in lyric.reviewList
            article(class="p-2 border-bottom")
              //- 해당 감상의 작성자인 경우
                button(type="button" class="delete") 삭제 - 삭제 모달로 연결
                button(type="button" class="edit") 수정 - 수정 모달로 연결

              div(class="review-info mb-2")
                //- [TODO] 프로필 사진
                div(class="writer")
                  b= review.writer.name
                div(class="date")
                  span(class="created-date me-2")
                    small= `작성일: ${review.createdDateFormatted}`
                  span(class="updated-date")
                    small= `최종 수정일: ${review.updatedDateFormatted}`
              p(class="content")= review.content

          //- [TODO] 더보기 구현 (무한 스크롤)
  else
    div(class="no-review container")
      // Text
      p(class="mb-4")= noReviewMessage
      // buttons
      div(class="d-flex justify-content-center")
        a(class="btn btn-primary" href="/review/write" role="button") 작성하기
        a(class="btn btn-outline-primary ms-3" href="/" role="button") 홈으로
